body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #f0f0f0;
  }
  
  .container {
    text-align: center;
    max-width: 800px;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    width: 70%;
    margin-right: 10px;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .records {
    margin-top: 20px;
  }
  
  .records ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
  }
  
  .records li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .records img {
    max-width: 150px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .records h2 {
    font-size: 16px;
    margin: 10px 0 0;
    text-align: center;
  }
  